---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import PostCard from "@/components/PostCard.astro";
import ProjectCard from "@/components/ProjectCard.astro";
import Link from "@/components/shared/Link.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";
import convertUnderscoreToItalicTag from "@/utils/convertUnderscoreToItalicTag";

import presentation from "@/data/presentation";
import projects from "@/data/projects";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout>
  <main
    class="mx-auto mb-12 flex min-h-full w-full max-w-4xl flex-col gap-20 px-6 py-4"
  >
    <article
      class="flex flex-col gap-4 md:h-48 md:columns-2 md:flex-row-reverse md:justify-between md:gap-12"
    >
      <img
        src={presentation.profile}
        class="aspect-square h-48 self-center rounded-full bg-gray-400"
        alt="profile-picture"
        id="profile-picture"
      />

      <div class="flex flex-col justify-center gap-8">
        <h1 class="text-3xl text-neutral-100">
          {presentation.title}
        </h1>

        <h2
          class="w-auto max-w-[60ch] leading-6"
          set:html={convertUnderscoreToItalicTag(
            convertAsteriskToStrongTag(presentation.description)
          )}
        />
      </div>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <div class="flex flex-row items-center">
          <h3 class="text-lg text-neutral-100">Latest posts</h3>
        </div>

        <Link href="/posts" label="See all posts" isUnderline target="_self" />
      </header>
      {posts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section
        class="flex flex-col items-stretch gap-4 sm:flex-row sm:flex-wrap"
      >
        {
          posts.length !== 0 &&
            posts
              .slice(0, 2)
              .map((post) => (
                <PostCard
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                />
              ))
        }
      </section>
    </article>

    <article class="flex flex-col gap-8">
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">
          Selected projects ({projects.length})
        </h3>
      </header>
      {projects.length === 0 && <p>Oops, I must work^^^^^</p>}

      <section class="flex flex-col gap-4">
        {
          projects.length !== 0 &&
            projects.map((project) => <ProjectCard {...project} />)
        }
      </section>
    </article>
  </main>
</Layout>

<!-- <script>
  let image = document.getElementById("profile-picture");
  image?.addEventListener("load", () => {
    image?.classList.remove("animate-pulse");
  });
</script> -->
